.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .head-text {
        color: var(--black-color);
        margin-top: 1.5rem;
    }
}

#about {
    background: linear-gradient(125deg, var(--secondary-color) 30%, var(--white-color) 20%, 
    var(--white-color) 75%, var(--secondary-color) 75%);

    @media screen and (max-width: 450px) {
        background: linear-gradient(125deg, var(--secondary-color) 10%, var(--white-color) 10%, 
        var(--white-color) 75%, var(--secondary-color) 60%);
    }
}

.app__profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
    margin-top: 5%;

    img {
        width: 35vw;
        height: auto;

        @media screen and (max-width: 450px) {
            width: 60vw;
        }

    }
    
    p {
        width: 35vw;
        padding: .5rem 1rem;
        font-size: 1.6rem;
        line-height: 2.2;
        color: var(--black-color);

        @media screen and (max-width: 900px) {
            width: 100%;
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: justify;
        }
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 2rem;
        margin-top: 4%;
    }

}

section {
    color: var(--black-color);

    h3 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 8rem;
        font-size: 2.2rem;
        width: fit-content;

        @media screen and (max-width: 450px) {
            margin-top: 2rem;
            font-size: 1.6rem;
        }

    }

    ul {
        text-decoration: none;
        margin-top: 4rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: 3rem;
        justify-content: space-around;
        align-items: center;

        @media screen and (max-width: 450px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 2rem;
        }

        li {
            font-size: 1.4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 450px) {
                font-size: 1.1rem;
    
            }

        }
    }
}
