#skills {
  background: linear-gradient(55deg, var(--white-color) 15%, 
  var(--secondary-color) 15%, 
  var(--secondary-color) 85%, var(--white-color) 85%);

  @media screen and (max-width: 900px) {
    background: linear-gradient(55deg, var(--white-color) 5%, 
    var(--secondary-color) 5%, 
    var(--secondary-color) 95%, var(--white-color) 95%);
  }

}

.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;


  .head-text {
    margin-top: 1.5rem;
    color: var(--white-color);
  }

    &-container {
        width: 80%;
        margin-top: 3rem;
    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    
        @media screen and (max-width: 900px) {
            width: 100%;
            flex-direction: column;
        }

        @media screen and (max-width: 450px) {
            margin-top: 3rem;
            justify-content: center;
            width: 90%;
        }
    }

    &-title {
        grid-column: 1/4;
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
        grid-row: 1;
        margin: auto;

        @media screen and (max-width: 900px) {
            font-size: 1.3rem;
        }
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin-right: 5rem;
    
        @media screen and (max-width: 900px) {
            margin-right: 0;
        }
    }

    &-item {
        flex-direction: column;
        text-align: center;
    
        margin: 1rem;
    
        transition: all 0.3s ease-in-out;
    
        div {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color: #fef4f5;
        
            img {
                width: 50%;
                height: 50%;

                @media screen and (max-width: 450px) {
                    width: 60%;
                    height: 60%;
                }
            }
        
            &:hover {
                box-shadow: 0 0 25px #fef4f5;
            }
        
            @media screen and (min-width: 2000px) {
                width: 150px;
                height: 150px;
            }
        
            @media screen and (max-width: 450px) {
                width: 65px;
                height: 65px;
            }
        }
        
        p {
            font-weight: 500;
            margin-top: 0.5rem;
            text-align: center;
        }
        
        @media screen and (min-width: 2000px) {
        margin: 1rem 2rem;
        
            p {
                margin-top: 1rem;
            }
        }
    }
}
  
.skills-tooltip {
    max-width: 300px !important;
    background-color: var(--white-color) !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
    padding: 1rem !important;
    color: var(--gray-color) !important;
    text-align: center !important;
    line-height: 1.5 !important;
    opacity: 1 !important;
  
    @media screen and (min-width: 2000px) {
        font-size: 1.75rem !important;
        max-width: 500px !important;
        line-height: 2 !important;
    }
}